:root {
  --white: #ffffff;
  --black1: #707070;
  --black46: #464646;
  --gray: #707070;
  --primarycolor: #ecce6d;
  --bgcolorlite: #f9f9f9;
}
* {
  box-sizing: border-box;
  margin: 0px;
}

@font-face {
  font-family: myFontBlack;
  src: url(./fonts/AvenirLTStd-Black.otf);
}
@font-face {
  font-family: myFontBook;
  src: url(./fonts/AvenirLTStd-Book.otf);
}
@font-face {
  font-family: myFontRoman;
  src: url(./fonts/AvenirLTStd-Roman.otf);
}
body {
  font-family: myFontBook !important;
  overflow-x: hidden;
  background-color: #ffffff;
}

.mblimg img {
  /* max-width: 580px; */
  width: 100%;
}
.aligncenter {
  align-items: center;
}
.prel {
  position: relative;
}
.divloginmain {
  box-shadow: 2px 2px 20px #00000033;
  margin: 50px 0;
}
.divregmain {
  background-color: #ffffff;
}
.logindiv {
  padding: 20px;
}
.passforget {
  position: absolute;
  top: 6px;
  right: 7px;
  color: #70707087;
  font-size: 13px;
  text-decoration: none;
}
.passforget:hover {
  color: #70707087;
}
.ldfirst {
  color: var(--black1);
  font-family: myFontBook !important;
  font-size: 16px;
  position: absolute;
  top: 25px;
  right: 40px;
}
.maindivld {
}
.maindivld h2 {
  color: var(--black1);
  font-family: myFontBlack !important;
  font-size: 35px;
  padding-left: 40px;
}
.divpld {
  max-width: 350px;
  margin: auto;
}
.divpld p {
  color: var(--black1);
  font-family: myFontBook !important;
  font-size: 15px;
  padding: 20px 0 15px;
}
.maindivld form {
  max-width: 350px;
  margin: auto;
}
.ldlast {
  color: var(--black1);
  font-family: myFontBook !important;
  font-size: 16px;
  position: absolute;
  bottom: 15px;
}
.form-floating > .form-control {
  padding: 1rem 0.75rem;
  border-radius: 0px !important;
  border: 0px solid !important;
  box-shadow: 0px 12px 40px hsl(0deg 0% 0% / 14%);
  color: #707070 !important;
  font-family: myFontBook !important;
  font-size: 14px !important;
}
.form-floating > label {
  font-size: 14px;
  color: #707070 !important;
  font-family: myFontBook !important;
}
.form-control:focus {
  box-shadow: 0 0 0 0rem rgb(13 110 253 / 0%) !important;
  /* border-left: 6px solid #ECCE6D !important; */
}
.form-floating > .form-control:focus,
.form-floating > .form-control:not(:placeholder-shown) {
  border-left: 6px solid #ecce6d !important;
}
.btnsub {
  margin: 30px 0;
}
.btnsub button {
  border: 0px solid;
  font-size: 18px;
  text-transform: uppercase;
  color: #707070 !important;
  font-family: myFontBlack !important;
  background-color: transparent;
  display: block;
  float: right;
}
.btnsub button img {
  width: 22px;
}

/* ------------------------------------------ */
/* Dashbaord */
.bgdash {
  background-color: #f5f5f5 !important;
}
.tophead {
  background-color: var(--white);
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mainlogo1 {
  text-align: center;
}
.tophead h2 {
  color: var(--primarycolor);
  font-family: myFontBlack !important;
  font-size: 22px;
}
.userdp {
  display: flex;
  align-items: center;
}
.profilpic {
  position: relative;
}
.profilpic img {
  width: 44px;
  border-radius: 50px;
}
.profilpic span {
  width: 10px;
  height: 10px;
  background-color: #39dd84;
  position: absolute;
  bottom: 0;
  left: 6px;
  border-radius: 50px;
}
.userdp p {
  margin-bottom: 0px;
  color: var(--black1);
  font-family: myFontBook !important;
  font-weight: 300;
  font-size: 16px;
  padding: 0 30px 0 10px;
}
.colorpri {
  color: var(--primarycolor) !important;
}
.colorli {
  color: var(--black1) !important;
}
.fontbook {
  font-family: myFontBook !important;
}
.fontblack {
  font-family: myFontBlack !important;
}
.margbott1 {
  margin-bottom: 30px;
}
.bardashdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
}
.bardashdiv h2 {
  font-size: 14px;
}
.userdp a {
  text-decoration: none;
}
.dashsidebar {
  background-color: white;
  padding: 20px 20px;

  height: 90vh;
}
.usermeta {
  padding: 0 10px;
}
.usermeta h2 {
  color: var(--black1);
  font-family: myFontBlack !important;
  font-size: 14px;
  margin: 0px;
}
.usermeta p {
  color: #707070ab;
  font-family: myFontBook !important;
  font-size: 10px;
  margin: 0px;
  padding: 0px;
}
.buttonpri {
  background-color: var(--primarycolor);
  color: white;
  font-family: myFontBook !important;
  font-weight: 300;
  font-size: 15px;
  width: 100%;
  padding: 10px;
  text-align: center;
  border: 0px solid;
  border-radius: 8px;
  margin-top: 30px;
}
.maindash {
  padding: 20px 30px 20px 5px;
}
.paneltxtdiv {
  display: flex;
  align-items: center;
}
.paneltxtdiv span {
  background: var(--primarycolor);
  padding: 4px 6px;
  border-radius: 8px;
}
.paneltxtdiv span .fa {
  color: white !important;
}
.paneltxtdiv p {
  font-family: myFontBlack !important;
  font-size: 16px;
  color: var(--black1);
  margin-bottom: 0px;
  margin-left: 8px;
  font-weight: 600;
}

.tablepanel {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  margin: 20px 0;
}
.buttonpri2 {
  background-color: var(--primarycolor);
  color: white;
  font-family: myFontBlack !important;
  font-weight: 800;
  font-size: 14px;
  width: 100%;
  padding: 6px;
  text-align: center;
  border: 0px solid;
  border-radius: 0px;
}
.table > :not(caption) > * > * {
  border-bottom-color: #7070701c !important;
  border-color: #7070701c !important;
  padding: 15px 10px !important;
}
.table > tbody {
  vertical-align: baseline !important;
}
.table thead th {
  color: #707070 !important;
  font-family: myFontBlack !important;
  font-size: 16px;
  font-weight: 800;
}
.table tbody td {
  color: #4b4b4b96 !important;
  font-family: myFontBook !important;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}

.search {
  position: relative;
}

.search input {
  text-indent: 25px;
  border: 0px solid #d6d4d4;
}

.search input:focus {
  box-shadow: none;
  border: 0px solid;
}
.search input::placeholder {
  color: #969494;
  font-family: myFontBook !important;
  font-weight: 300;
}
.search .fa-search {
  position: absolute;
  top: 9px;
  left: 12px;
}
.tabletop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}
.tabletop h2 {
  color: var(--black1) !important;
  font-family: myFontBlack !important;
  font-size: 20px;
}
.buttonpri3 {
  background-color: var(--primarycolor);
  color: white;
  font-family: myFontBook !important;
  font-weight: 300;
  font-size: 15px;
  padding: 10px;
  text-align: center;
  border: 0px solid;
}
.modaldelt {
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--black1);
  border-radius: 8px;
  padding: 30px;
  margin-bottom: 20px;
}
.deta1 {
  margin-bottom: 20px;
}
.deta1 h2 {
  font-family: myFontBlack !important;
  font-size: 20px;
}
.deta1 p {
  font-family: myFontBook !important;
  font-size: 18px;
  margin-bottom: 2px;
}
.deta1 span {
  font-family: myFontBook !important;
  font-size: 18px;
}
.deta2 {
}
.deta2 img {
  max-width: 200px;
}

.detailmodl {
  max-width: 760px !important;
  margin: 1.75rem auto;
}

/* ------------------------------------------- */

/* Web UI Pages Styling */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
.autdash1 {
  padding: 8% 7%;
}
.auttoplgo {
}
.auttoplgo h2 {
  font-family: myFontBlack !important;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 30px;
}
.authbox {
  box-shadow: 2px 2px 20px #00000033;
  border: 1px solid #e6ebf0;
  padding: 30px 25px;
  margin-left: 30px;
  background-color: #fff;
  border-radius: 8px;
}
.authbox p {
  font-size: 20px;
  /* font-family: 'Poppins', sans-serif !important;
font-weight: 400; */
  color: #707070;
}
.authbtns {
  text-align: end;
  margin-top: 3rem;
}
.btnsimple {
  /* font-family: 'Poppins', sans-serif !important;
font-weight: 300; */
  font-size: 16px;
  color: #1e1c24;
  background-color: white;
  border-radius: 6px;
  padding: 8px 20px;
  text-decoration: none;
  border: 1px solid #cbcbcb;
}
.btnsimple:hover {
  color: #1e1c24 !important;
}
.btnred:hover {
  color: #fff !important;
}
.marleft20 {
  margin-left: 20px;
}
.btnred {
  /* font-family: 'Poppins', sans-serif !important;
font-weight: 300; */
  font-size: 16px;
  background-color: #fd5353;
  color: #fff;
  border-radius: 6px;
  padding: 8px 20px;
  text-decoration: none;
}
.fullheight {
  height: 100vh;
}
a:hover {
  text-decoration: none;
}
.authdiv2bg {
  background-image: url(../images/imgbg1.PNG);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.sideimgauth {
}
.sideimgauth img {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: -18px;
}

.bgmblauth {
  display: none;
}

/* Web Desktop page */
.bgimage1 {
  position: relative;
  display: none;
}

.mainpagedekdiv {
  width: 100%;
  position: relative;
  z-index: 7;
  padding: 20px 25px 10px;
}
.pageheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pageheader h2 {
  font-family: myFontBlack;
  font-size: 22px;
  font-weight: 800;
  color: #1e1c24;
}
.btntransp {
  color: white;
  border: 1px solid white;
  padding: 6px 25px;
  border-radius: 100px;
  font-size: 16px;
  text-decoration: none;
}
.btntransp:hover {
  color: #fff !important;
}
.firstsection {
}
.sec1left {
  padding: 2.5rem 0;
}
.sec1left h2 {
  font-family: myFontBlack;
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 1rem;
}
.sec1left p {
  font-family: myFontBlack;
  font-size: 16px;
  color: #b1aaaa;
}
.sec1left img {
  width: 100%;
}
.sec1right {
}
.sec1right img {
  width: 100%;
}
.dismbl1 {
  display: none;
}
.secondsection {
  max-width: 800px;
  margin: auto;
  margin-bottom: 2rem;
}
.secondsection h2 {
  font-family: myFontBlack;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 3rem;
  text-align: center;
}
.divcol2d {
  margin-bottom: 20px;
}
.divcol2d img {
  width: 110px;
  margin: auto;
  display: block;
  margin-bottom: 0.5rem;
}
.divcol2d h3 {
  font-family: myFontBlack;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: center;
}
.divcol2d p {
  font-family: myFontBlack;
  font-size: 16px;
  color: #b1aaaa;
  text-align: center;
}

.fithsection {
  max-width: 800px;
  margin: auto;
  margin-bottom: 2rem;
}
.fithsection h2 {
  font-family: myFontBlack;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}
.fithsecd {
  margin-bottom: 20px;
  border-bottom: 5px solid #fd5353;
  background-color: white;
  box-shadow: 3px 11px 20px #00000033;
  padding: 20px;
}

.fithsecd h3 {
  font-family: myFontBlack;
  font-size: 22px;
  color: #fdb65a;
  font-weight: bold;
  margin-bottom: 0.6rem;
  text-align: center;
}
.fithsecd p {
  font-family: myFontBook;
  font-size: 15px;
  color: #b1aaaa;
}
.footersection {
  max-width: 400px;
  margin: 3rem auto 0px;
}
.footersection h2 {
  font-family: myFontBlack;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
}
.footersection p {
  font-family: myFontBook;
  font-size: 16px;
  color: #1e1c24;
  text-align: center;
}
.footersection form {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}
.footersection form input {
  border: 1px solid #ebebeb;
  border-radius: 100px;
  margin-right: 5px;
  padding: 10px;
}
.footersection form input::placeholder {
  color: #b1aaaa;
}
:focus-visible {
  outline: auto 0px !important;
}

.btncontsub {
  font-size: 16px;
  background-color: #fd5353;
  color: #fff;
  border-radius: 100px;
  padding: 8px 20px;
  text-decoration: none;
  border: 0px solid;
  box-shadow: 3px 11px 20px #00000033;
}
.btncontsub:hover {
  color: #fff !important;
}

.footersection small {
  font-family: myFontBook;
  font-size: 12px;
  text-align: center;
  display: block;
}
.btngroup1 {
  display: flex;
}
.btngroup1 button {
  width: 50%;
  display: block;
  margin: 0 10px 0 0;
  font-size: 14px;
}
.btngroup1 button:last-child {
  margin: 0px !important;
}
.registerdiv {
  padding: 20px;
}
.ldreg {
  color: var(--black1);
  font-family: myFontBook !important;
  font-size: 16px;
  text-align: right;
}

.registerdiv .divpld p {
  padding: 0px !important;
}
.imgtop {
  margin-top: -65px;
}
.thirdsection {
  position: relative;
  padding: 4rem 0px 18rem;
}
.circleimgsec3 {
  display: none;
}
.sec3d1 {
  max-width: 400px;
  margin: auto 0 auto auto;
}
.sec3d1 h2 {
  font-family: myFontBlack;
  font-size: 40px;
  color: #1e1c24;
}
.sec3d1 p {
  color: #b1aaaa;
  font-family: myFontBlack;
  font-size: 18px;
}
.sec3d2 {
  position: relative;
}
.samldivfloat1 {
  padding: 30px 15px;
  box-shadow: 3px 11px 20px #1f485d47;
  border-radius: 6px;
  max-width: 330px;
  position: absolute;
  right: 16%;
  top: 0px;
  background-color: #fff;
}
.samldivfloat1 img {
  width: 46px;
  margin: auto;
  display: block;
}
.samldivfloat1 h2 {
  color: #1e1c24;
  font-family: myFontBlack;
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
}
.samldivfloat1 p {
  color: #1e1c24;
  font-family: myFontBook;
  font-size: 13px;
  text-align: center;
}
.authflbtns {
  text-align: center;
  margin-top: 1.5rem;
}
.authflbtns a {
  font-size: 13px !important;
  padding: 10px 38px !important;
}

.samldivfloat2 {
  padding: 30px 15px;
  box-shadow: 3px 11px 20px #1f485d47;
  border-radius: 6px;
  max-width: 330px;
  position: relative;
  top: 18rem;
  left: 3rem;
  background-color: #fff;
}
.smdflex2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.smdflex3 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.profilemask {
  width: 46px;
  border-radius: 100px;
}
.profilemaskmeta {
  margin-left: 10px;
}
.profilemaskmeta h2 {
  color: #42505c;
  font-size: 16px !important;
  font-weight: 800;
  margin-bottom: 0px;
}
.profilemaskmeta p {
  color: #79828b;
  font-size: 12px !important;
  margin-bottom: 0px;
}
.mrtop10 {
  margin-top: 10px;
}
.spandeco {
  background-color: #79828b2e;
  font-size: 15px;
  border-radius: 16px;
  padding: 5px 8px 3px;
}
.samldivfloat2 p {
  color: #42505c;
  font-size: 16px;
}
.colorlite1 {
  color: #8d99a4 !important;
}
.colorred1 {
  color: #d28e62 !important;
}
.colorblue1 {
  color: #6271d2 !important;
}
.sidepflot2 {
  color: #79828b !important;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0px;
}
.smdfexbottom {
  border-top: 1px solid #e6ebf0;
  padding-top: 1rem;
}
.bgimage1web {
  z-index: -1;
  position: absolute;
  top: -2px;
  right: 0px;
  width: 600px;
}
.bgimage1web img {
  width: 100%;
}
.footerdevimg {
  z-index: -1;
  position: absolute;
  bottom: -10px;
  left: -37px;
  width: 85px;
}
.footerdevimg img {
  width: 100%;
}
.footermain {
  position: relative;
}
.fifthmain {
  position: relative;
}
.fifthdevimg {
  z-index: -1;
  position: absolute;
  top: -80px;
  right: -37px;
  width: 350px;
}
.fifthdevimg img {
  width: 100%;
}
.secondmain {
  position: relative;
}
.secnddevimg {
  z-index: -1;
  position: absolute;
  top: -90%;
  left: -49px;
  width: 21%;
}
.secnddevimg img {
  width: 100%;
}
.disnonsd2dek {
  display: none;
}
.thirdmian {
  position: relative;
}
.thirddevimg {
  z-index: -1;
  position: absolute;
  top: -17%;
  right: -38px;
  width: 52%;
}
.thirddevimg img {
  width: 100%;
}

/* Responsive for all pages */

@media (min-width: 768px) {
  .fithsecd {
    min-height: 13rem;
  }
}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .dashsidebar {
    height: 100%;
    padding: 20px 20px 40px;
  }
  .maindash {
    padding: 20px 15px;
  }
  .tabletop {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 8px;
  }
  .tabletop h2 {
    margin-bottom: 15px;
  }
  .modaldelt {
    justify-content: flex-end;
    flex-direction: column;
  }
  .detailmodl {
    max-width: 400px !important;
  }
  .bgmblauth {
    width: 450px;
  }
  .sec1left h2 {
    font-size: 22px;
  }
  .sec1left p {
    font-size: 14px;
  }
  .sec1left img {
    margin: -90px 0 -120px 0 !important;
  }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .tophead {
    padding: 12px 15px;
  }
  .bgmblauth {
    width: 300px !important;
  }
  .sec1left img {
    margin: -64px 0 -65px 0 !important;
  }
  .pageheader h2 {
    font-family: myFontBlack;
    font-size: 16px;
    font-weight: 800;
    color: #1e1c24;
  }
  .footerdevimg {
    z-index: -1;
    position: absolute;
    bottom: 114px;
    left: -37px;
    width: 37px;
  }
  .btntransp {
    font-size: 14px;
  }
  .bgimage1 {
    width: 254px !important;
  }
}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .disnonsd2dek {
    display: block;
  }
  .thirddevimg {
    display: none;
  }
  .disnonsd2mbl {
    display: none;
  }
  .secnddevimg {
    top: 0px;
    left: -38px;
    width: 33px;
  }
  .bgimage1 {
    display: block;
    z-index: -1;
    position: absolute;
    top: -2px;
    right: 0px;
    width: 330px;
  }
  .bgimage1 img {
    width: 100%;
  }
  .bgimage1web {
    display: none;
  }
  .fifthdevimg {
    display: none;
  }
  .disnonimg {
    display: none;
  }
  .divloginmain .col-md-7 {
    max-width: 100%;
    width: 100%;
  }
  .logindiv {
    height: 80vh;
  }
  .maindivld {
    margin-top: 45px;
  }
  .disnonauth {
    display: none;
  }
  .authdiv1 {
    width: 100% !important;
  }
  .autdash1 {
    padding: 2% 2%;
  }
  .authbox {
    margin: 0 4%;
  }
  .authbtns {
    text-align: center;
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid #e6ebf0;
    padding-bottom: 1rem;
  }
  .authbox p {
    font-size: 16px;
  }

  .btnsimple {
    font-size: 16px;
    padding: 12px 34px;
    font-weight: 500;
  }
  .btnred {
    font-size: 16px;
    padding: 12px 34px;
    font-weight: 500;
  }

  .bgmblauth {
    display: block;
    position: absolute;
    top: -86px;
    right: -1px;
    z-index: -1;
  }
  .dismbl1 {
    display: block;
  }
  .hidembl1 {
    display: none;
  }
  .firstsection .col-md-6 {
    width: 100% !important;
  }
  .sec1left img {
    width: 100%;
    margin: -135px 0;
  }
  .sec1left h2 {
    text-align: center;
  }
  .sec1left p {
    text-align: center;
  }

  .width100 {
    width: 100% !important;
  }
  .registerdiv .ldreg {
    text-align: center !important;
    margin-bottom: 0px !important;
  }
  .registerdiv .maindivld {
    margin-top: 10px !important;
  }
  .divregmain {
    box-shadow: unset !important;
  }
  .sec3d1 {
    margin: 0px;
    max-width: 100%;
  }
  .sec3d1 h2 {
    font-size: 25px;
  }
  .sec3d1 p {
    font-size: 16px;
  }
  .thirdsection {
    padding: 1rem 0px 1rem;
  }
  .samldivfloat2 {
    display: none;
  }
  .thirdsection .col-md-6 {
    max-width: 100% !important;
    width: 100%;
  }
  .samldivfloat1 {
    position: unset;
    margin: 2rem auto;
  }
  .circleimgsec3 {
    z-index: -1;
    position: absolute;
    margin: auto;
    display: block;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
  .dcont {
    height: 100vh;
    align-items: center;
    display: flex;
  }
}
@media (min-width: 1399.98px) {
  .dcont {
    height: 100vh;
    align-items: center;
    display: flex;
  }
}
@media (min-width: 1000px) {
  .thirddevimg {
    z-index: -1;
    position: absolute;
    top: -10%;
    right: -38px;
    width: 60%;
  }
}
